<!DOCTYPE html>
<html>

<head>
    <title>School Recommender</title>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqhzcCt3-YIkmhHJPCWBXW7VQQY2oNdCw&libraries=places&callback=initAutocomplete">
        </script>
    <script>
        let autocomplete;
        function initAutocomplete() {
            autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('address'), // Match the ID of your input field
                {
                    types: ['address'], // Adjust types as necessary
                    componentRestrictions: { country: ['AU'] }, // Adjust country as necessary
                    fields: ['geometry', 'name'] // Adjust fields as necessary
                }
            );
            autocomplete.addListener('place_changed', onPlaceChanged);
        }

        function onPlaceChanged() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                document.getElementById('address').placeholder = 'Enter a valid address';
            } else {
                // You can use place.geometry.location.lat() and place.geometry.location.lng() if needed
                document.getElementById('details').innerHTML = place.name;
            }
        }
    </script>
</head>

<body>
    <h1>School Recommender</h1>
    <form id="recommendForm" method="get" action="{% url 'recommend' %}">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required />
        <br />

        <fieldset>
            <legend>Broad Classification:</legend>
            <input type="radio" id="broad_classification1" name="broad_classification" value="Senior High Schools">
            <label for="broad_classification1">Senior High Schools</label><br>
            <input type="radio" id="broad_classification2" name="broad_classification" value="NON-GOVT SCHOOLS">
            <label for="broad_classification2">NON-GOVT SCHOOLS</label><br>
            <input type="radio" id="broad_classification3" name="broad_classification" value="Senior Colleges">
            <label for="broad_classification3">Senior Colleges</label>
        </fieldset>

        <fieldset>
            <legend>Classification Group:</legend>
            <input type="radio" id="classification_group1" name="classification_group" value="SECONDARY SCHOOLS">
            <label for="classification_group1">SECONDARY SCHOOLS</label><br>
            <input type="radio" id="classification_group2" name="classification_group" value="NON_GOVERNMENT">
            <label for="classification_group2">NON_GOVERNMENT</label>
        </fieldset>

        <fieldset>
            <legend>School Year:</legend>
            <input type="radio" id="school_year1" name="school_year" value="KIN">
            <label for="school_year1">KIN</label><br>
            <input type="radio" id="school_year2" name="school_year" value="Y1">
            <label for="school_year2">Y1</label><br>
            <input type="radio" id="school_year3" name="school_year" value="Y2">
            <label for="school_year3">Y2</label><br>
            <input type="radio" id="school_year4" name="school_year" value="Y3">
            <label for="school_year4">Y3</label><br>
            <input type="radio" id="school_year5" name="school_year" value="Y4">
            <label for="school_year5">Y4</label><br>
            <input type="radio" id="school_year6" name="school_year" value="Y5">
            <label for="school_year6">Y5</label><br>
            <input type="radio" id="school_year7" name="school_year" value="Y6">
            <label for="school_year7">Y6</label><br>
            <input type="radio" id="school_year8" name="school_year" value="Y7">
            <label for="school_year8">Y7</label><br>
            <input type="radio" id="school_year9" name="school_year" value="Y8">
            <label for="school_year9">Y8</label><br>
            <input type="radio" id="school_year10" name="school_year" value="Y9">
            <label for="school_year10">Y9</label><br>
            <input type="radio" id="school_year11" name="school_year" value="Y10">
            <label for="school_year11">Y10</label><br>
            <input type="radio" id="school_year12" name="school_year" value="Y11">
            <label for="school_year12">Y11</label><br>
            <input type="radio" id="school_year13" name="school_year" value="Y12">
            <label for="school_year13">Y12</label>
        </fieldset>

        <button type="submit">Recommend Schools</button>
    </form>
    <div>You are looking for a school near: <div id="details"></div>
    </div>
</body>

</html>