<!DOCTYPE html>
<html>

<head>
    <title>{{ school.school_name }}</title>
</head>

<body>
    <h1>{{ school.school_name }}</h1>
    <p><strong>Street:</strong> {{ school.street }}</p>
    <p><strong>Suburb:</strong> {{ school.suburb }}</p>
    <p><strong>State:</strong> {{ school.state }}</p>
    <p><strong>Postcode:</strong> {{ school.postcode }}</p>
    <p><strong>Postal Street:</strong> {{ school.postal_street }}</p>
    <p><strong>Postal Suburb:</strong> {{ school.postal_suburb }}</p>
    <p><strong>Postal State:</strong> {{ school.postal_state }}</p>
    <p><strong>Postal Postcode:</strong> {{ school.postal_postcode }}</p>
    <p><strong>Latitude:</strong> {{ school.latitude }}</p>
    <p><strong>Longitude:</strong> {{ school.longitude }}</p>
    <p><strong>Phone:</strong> {{ school.phone }}</p>
    <p><strong>Education Region:</strong> {{ school.education_region }}</p>
    <p>
        <strong>Broad Classification:</strong> {{ school.broad_classification }}
    </p>
    <p>
        <strong>Classification Group:</strong> {{ school.classification_group }}
    </p>
    <p><strong>Low Year:</strong> {{ school.low_year }}</p>
    <p><strong>High Year:</strong> {{ school.high_year }}</p>
    <p><strong>Total Students:</strong> {{ school.total_students }}</p>
    <p><strong>BE Score:</strong> {{ school.be_score }}</p>
    <p><strong>ICSEA:</strong> {{ school.icsea }}</p>
    <p><strong>ATAR Rank:</strong> {{ school.atar_rank }}</p>
    <p><strong>Median ATAR:</strong> {{ school.median_atar }}</p>
    <p>
        <strong>Percent Students with ATAR:</strong> {{ school.percent_students_with_atar }}
    </p>
</body>

</html>